body {
    background-image: url('../imgs/beautiful-valley-24724-myedit.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    cursor: default;
    font-family: sans-serif;
    min-width: 480px;
    overflow-x: scroll;

}

body, body * {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;

}

header {
    background-color: transparent;
    background-color: rgba(100,200,100,0.567);
    color: #EEEFFF;
    height: 100px;
    margin-top: 1rem;
    padding-top: 1rem;
    text-indent: 1rem;

}

header > aside {
    position: absolute;
    float: right;
    top: 1rem;
    right: 1rem;

}

header > h1 {
    text-indent: 1rem;
    font-size: 300%;

}

button {
    box-shadow: 1px 3px 3px #CCC;
    height: 37px;
    min-width: 100px;

}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin: 1rem;
}

.hidden {
    visibility: hidden;
    position: fixed;
    z-index: -1;
    transition: all 1s;

}

.popup {
    position: fixed;
    z-index:1000;
    visibility: visible;
    background: white;
    color: black;
    width: 100%;
    height: 85%;
    margin: auto;
    top: 20px;

}

.nameFeed {
    text-indent: 1rem;

}

.nameFeed:before {
    content: 'Player Name: ';
    color: #222;

}

#gamearea {
    list-style: none;
    display: flex;
    background: #CCC;

}

#gamearea > div {
    flex-direction: column;
    width: 100%;
    margin: .25rem 0;
    background: black;
    border: 1px solid black;
    cursor: pointer;

}

#gamearea .item {
    flex-direction: column;
    height: 66px;
    background: white;
    margin: 1rem;
    border-radius: 2%;

}

.item {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 3rem;

}

section#gameRules {
    padding: 10px;
    background: #EEECCC;
    color: #020202;
    text-align: center;

}

section#options {
    height: 77px;
    background-color: yellow;
    background-color: rgba(255,255,77, .7);
    padding: 1rem 10%;

}

footer {
    background-color: navy;
    color: #EEEFFF;
    padding: .25rem;
    text-indent: 1rem;

}

.style2 {
    background: transparent !important;
    border: 0 !important;

}

.style3 {
    position: relative;
    transition: all 1s;
    overflow: hidden;

}

.style3:after {
    content: '';
    background: rgb(255,255,200);
    background: rgba(255,255,255,1);
    box-shadow: 3px 3px 2px black;
    opacity: .98;
    border: 1px white solid;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;

}

.style3:hover:after {
    background: transparent;
    background: rgba(255,255,255, .66);

}

.newPlay {
    position: relative;

}

.newPlay:after {
    content: '';
    background: rgb(0,0,0);
    background: rgba(0,0,0,.9);
    box-shadow: 1px 3px 2px black;
    opacity: .8;
    border: 1px white solid;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    cursor: wait;
    z-index: 100;

}

.newPlay:after:hover {
    opacity: .4;

}

#tracker {
    position: relative;
}
#tracker > li {
    display: block;
}

#score,#timer {
    position: relative;
}

#score {
/*    top: 100px; */
}

#score:before {
    content:'ScoreX';
    position: absolute;
    left: -3rem;
    font-size: 66%;
}
#timer:before {
    content: 'Time:';
    position: absolute;
    left: -2.1rem;
    font-size: 66%;
}
#ambientMusic {
    position: fixed;
    bottom: 0;
    right: 0;
}
