body {
    background-color: teal;
    background-size: cover;
    background-position: top;
    position: relative;
    cursor: default;
    font-family: sans-serif;
    min-width: 521px;
    overflow-x: scroll;

}

body, body * {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;

}

header {
    background-color: transparent;
    background-color: rgba(100,200,100,0.567);
    color: #EEEFFF;
    height: 100px;
    //  margin-top: 1rem;
    padding-top: 1rem;
    text-indent: 1rem;

}
header > h1:before {
  content: '['
  
}
header > h1:after {
  content: ']'

}

header > aside {
    position: absolute;
    float: right;
    top: 1rem;
    right: 1rem;

}

header > h1 {
    text-indent: 1rem;
    font-size: 200%;

}

button {
    box-shadow: 1px 3px 3px #CCC;
    height: 37px;
    max-width: 100px;
    padding: 0 10px;

}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin: .33rem;

}

.hidden {
    visibility: hidden;
    position: fixed;
    z-index: -1;
    transition: all 1s;

}

.popup {
    position: fixed;
    z-index: 1000;
    visibility: visible;
    background: white;
    color: black;
    width: 100%;
    height: 85%;
    margin: auto;
    top: 20px;

}

.nameFeed {
    text-indent: 1rem;

}

.nameFeed:before {
    content: 'Player Name: ';
    color: #222;

}
#displayPrevPlay {
    position: fixed;
    right: 0;
    top: 80px;
    font-size: .67rem;
    background: black;
    padding: .20rem;

}
#displayPrevPlay > span {
  font-size: 1rem;

}

#gamearea {
    list-style: none;
    display: flex;
    background: #CCC;

}

#gamearea > div {
    flex-direction: column;
    width: 100%;
    margin: .25rem 0;
    background: black;
    border: 1px solid black;
    cursor: pointer;

}

#gamearea .item {
    flex-direction: column;
    height: 35px;
    background: white;
    margin: .23rem;
    border-radius: 2%;

}

.item {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.45rem;

}

#pregame {
  position: relative;
  padding: 0;
  display: flex;
  height: 100px;

}

#pregame > section {
  width: 500px;
/*  flex-direction: column; */
  display: inline-flex;
  padding: 0 .20rem;
  border: 1px 0 #010101 solid;

}

#pregame * {
    list-style: circle;

}

section#gameRules {
    background-color: #EEECCC;
    color: #020202;
    font-size: 58%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;

}
#gameRules > ol {
    padding: 0 1rem;

}

section#options {
    background-color: yellow;
    background-color: rgba(255,255,77, .7);
    font-size: 67%;

}

footer {
    background-color: navy;
    color: #EEEFFF;
    padding: .25rem;
    text-indent: 1rem;
    font-size: 12px;

}

.style2 {
    background: transparent !important;
    border: 0 !important;

}

.style3 {
    position: relative;
    transition: all 1s;
    overflow: hidden;

}

.style3:after {
    content: '';
    background: skyblue;
    box-shadow: 3px 3px 2px black;
    opacity: .90;
    border: 1px white solid;
    width: 100%;

    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;

}

.style3:hover:after {
    background: transparent;
    background: rgba(255,255,255, .66);

}

.newPlay {
    position: relative;

}

.newPlay:after {
    content: '';
    background: rgb(0,0,0);
    background: rgba(0,0,0,.9);
    box-shadow: 1px 3px 2px black;
    opacity: .8;
    border: 1px white solid;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    cursor: wait;
    z-index: 100;

}

.newPlay:after:hover {
    opacity: .4;

}

#audio {
  visibility: hidden;
  position: fixed;
  z-index: -1;

}

#tracker {
    position: relative;

}

#tracker > li {
  display: block;

}

#score,#timer {
  position: relative;

}

#score {
  /*    top: 100px; */
}

/*#score:before {
    content:'score: ';
    position: absolute;
    left: -2.1rem;
    font-size: 66%;

}*/

.scoreWobbActive {
  animation: scoreWobb 200ms ease-in-out 1;

}

.scoreWobbDblActive {
  animation: scoreWobb2 200ms ease-in-out 1;

}

.trackerTitle {
  position: absolute;
  font-size: .77rem;
  left: -3rem;

}

.multiscore {
  background-color: skyblue !important;

}

.popmultiscore {
  background-color: pink !important;

}

/*#timer:before {
    content: 'time:';
    position: absolute;
    left: -2.1rem;
    font-size: 66%;

}*/

/*animation styles */
@keyframes scoreWobb {
	0% {font-size: 100%;}
	25% { font-size: 120%;}
	50% { font-size: 125%; color: purple; font-weight: bolder;}
	75% { font-size: 120%;}
	100% { font-size: 100%;}

}

@keyframes scoreWobb2 {
	0% {font-size: 100%;}
	25% { font-size: 123%;}
	50% { font-size: 137%; color: pink; font-weight: bolder;}
	75% { font-size: 123%;}
	100% { font-size: 100%;}

}

/* end animation styles */

#ambientMusic {
    position: fixed;
    bottom: 0;
    right: 0;

}
